.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: black;

    h1 {
        font-size: 20px;
        color: black;
    }

    .post {
        display: flex;
        flex-direction: column;
        width: 300px;
        color: #030101;
        margin: 20px;
        background-color: beige;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    @media (max-width: 768px) {
        .post {
            width: 90%;
        }
    }

    .post:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-color: rgb(201, 238, 245);
    }

    .img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        padding: 10px;
    }

    .content h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: black;
    }

    .content button {
        font-size: 14px;
        padding: 5px 10px;
        background-color: #9ccee6;
        color: #030101;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .content button:hover {
        background-color: #e48ca9;
    }
}